.g-recaptcha {
    display: inline-block;
}
input {
    margin-bottom: 6px;
    margin-top: 6px;
}
.custom-control-label {
    margin-left:5px;
}
label {
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 12px;
}
h6 {
    margin-top:1em;
    margin-bottom:0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#branches_footer_list ul {
    padding:0;
    margin:0;
    display: flex;
    list-style: none;
    justify-content:center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}